.external-link {
  color: #61dafb;
  text-decoration: none;
}
.material-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 10px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  line-height: 28px;
}
.table-td-th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

